################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CovadisLeaseCar/.vs/CovadisLeaseCar
/CovadisLeaseCar/CovadisLeaseCar.Api/obj
/CovadisLeaseCar/CovadisLeaseCar.Application/obj
/CovadisLeaseCar/CovadisLeaseCar.Domain/obj
/CovadisLeaseCar/.vs/ProjectEvaluation
/CovadisLeaseCar/CovadisLeaseCar.Web/obj
/CovadisLeaseCar/CovadisLeaseCar.Api/bin/Debug/net8.0
/.vs/CovadisLeaseCar/v17
/.vs
/CovadisLeaseCar/CovadisLeaseCar.Shared/obj
/CovadisLeaseCar/CovadisLeaseCar.Web/bin/Debug/net8.0
